# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
prisma/migrations/migration_lock.toml
prisma/migrations/20230127021506_reto_yape_dev/migration.sql
prisma/migrations/20230127034122_yape_reto_dev/migration.sql
prisma/migrations/20230127075202_yape_reto_dev/migration.sql
prisma/migrations/20230127083036_yape_reto_dev/migration.sql
package-lock.json
